### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
/log/*
/.idea/*
/tmp/*
/upload
/dump.rdb
/docs/*
/.vscode
/storage
# /go.sum

### Govendor ###
github.com
golang.org
gopkg.in
google.golang.org

### Init Docker Service ###
ordered_startup.log
supervisord.pid
.env

###Graphql config setting ###
schema.graphql
.graphqlconfig
